<div class="container">
    <form action="/product/add" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="file" name="img" placeholder="img">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="discount" placeholder="dicscount">
        <input type="text" name="brand" placeholder="brand">
        <select name="category" id="category">
            {{#each categories}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select> 
        <input type="submit">
    </form>
</div>
